module1_c#_basic/project/ConsoleMusicPlayer/.vs/ConsoleMusicPlayer/DesignTimeBuild/.dtbcache.v2
module1_c#_basic/project/ConsoleMusicPlayer/.vs/ConsoleMusicPlayer/FileContentIndex/1ddc527e-bf67-4a56-802b-4e3a7b895eaa.vsidx
module1_c#_basic/project/ConsoleMusicPlayer/.vs/ConsoleMusicPlayer/FileContentIndex/3e515d9d-3e37-4a66-a1a8-d1d47e7e81f1.vsidx
module1_c#_basic/project/ConsoleMusicPlayer/.vs/ConsoleMusicPlayer/FileContentIndex/5de7a477-9ce3-408a-9ffb-a410a0059d0c.vsidx
module1_c#_basic/project/ConsoleMusicPlayer/.vs/ConsoleMusicPlayer/FileContentIndex/465f0f88-7a35-4874-91bc-5bcb50bf627e.vsidx
module1_c#_basic/project/ConsoleMusicPlayer/.vs/ConsoleMusicPlayer/FileContentIndex/644f32f6-1a61-4e30-b4af-6b2b33264e5a.vsidx
module1_c#_basic/project/ConsoleMusicPlayer/.vs/ConsoleMusicPlayer/FileContentIndex/5181fa34-0a25-4c63-88ec-6bad6ea83c28.vsidx
module1_c#_basic/project/ConsoleMusicPlayer/.vs/ConsoleMusicPlayer/FileContentIndex/39724a56-c070-40e1-8a14-b2a414fd11a0.vsidx
module1_c#_basic/project/ConsoleMusicPlayer/.vs/ConsoleMusicPlayer/FileContentIndex/c6d01286-e94a-497a-ba47-7752ccf3cfe2.vsidx
module1_c#_basic/project/ConsoleMusicPlayer/.vs/ProjectEvaluation/consolemusicplayer.metadata.v2
module1_c#_basic/project/ConsoleMusicPlayer/.vs/ProjectEvaluation/consolemusicplayer.projects.v2
module1_c#_basic/project/ConsoleMusicPlayer/bin/Debug/net6.0/ConsoleMusicPlayer.dll
module1_c#_basic/project/ConsoleMusicPlayer/bin/Debug/net6.0/ConsoleMusicPlayer.pdb
module1_c#_basic/project/ConsoleMusicPlayer/obj/project.nuget.cache
module1_c#_basic/project/ConsoleMusicPlayer/obj/Debug/net6.0/ConsoleMusicPlayer.assets.cache
module1_c#_basic/project/ConsoleMusicPlayer/obj/Debug/net6.0/ConsoleMusicPlayer.csproj.FileListAbsolute.txt
module1_c#_basic/project/ConsoleMusicPlayer/obj/Debug/net6.0/ConsoleMusicPlayer.dll
module1_c#_basic/project/ConsoleMusicPlayer/obj/Debug/net6.0/ConsoleMusicPlayer.GeneratedMSBuildEditorConfig.editorconfig
module1_c#_basic/project/ConsoleMusicPlayer/obj/Debug/net6.0/ConsoleMusicPlayer.genruntimeconfig.cache
module1_c#_basic/project/ConsoleMusicPlayer/obj/Debug/net6.0/ConsoleMusicPlayer.pdb
module1_c#_basic/project/ConsoleMusicPlayer/obj/Debug/net6.0/ref/ConsoleMusicPlayer.dll
module1_c#_basic/project/ConsoleMusicPlayer/obj/Debug/net6.0/refint/ConsoleMusicPlayer.dll
